.sectionNavigationList {
    &__borderRight {
        &::before {
            content: '';
            border-left: solid 4.1px #6781F7;
            display: inline-block;
            height: 100%;
            position: absolute;
            left: 0;
        }
    }

    &__wrapperIcon {
        display: inline-block;
        width: 22px;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        height: 30px;
        padding-left: 36px;

        @media (max-width: 1150px) {
            padding-left: 25px;
        }

        &:not(:first-child) {
            margin-top: 32px;
        }
    }

    &__text {
        margin-left: 24px;
        font-family: 'PT-Root-UI_Regular';
    }

    &__link {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #8B97AE;
    }

    &__link:hover>&__text {
        opacity: 0.5;
    }
}