.sectionPostsList {
    &__item {
        width: calc(20% - 35px);
        padding: 15px 15px 21px;
        background-color: rgba(25, 34, 51, 0.5);
        border-radius: 20px;
        margin: 17.5px;

        @media (max-width: 1380px) {
            width: calc(25% - 35px);
        }

        @media (max-width: 960px) {
            margin: 10px;
            width: calc(33.3% - 20px);
        }

        @media (max-width: 760px) {
            width: calc(50% - 20px);
        }

        @media (max-width: 500px) {
            width: calc(100% - 20px);
        }
    }

    &__item.active {
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__top,
    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__top {
        padding-bottom: 4px;
        border-bottom: solid 1px #707D96;
    }

    &__bottom {
        margin-top: 8px;
    }

    &__paymentLevel,
    &__activePartners {
        font-family: 'PT-Root-UI_Medium';
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    &__title.activePartners {
        max-width: 60px;
    }

    &__title.paymentLevel {
        max-width: 50px;
    }

    &__paymentLevel,
    &__activePartners,
    &__title {
        color: #fff;
    }

    &__paymentLevel {
        width: 50px;
    }

    &__activePartners {
        display: inline-block;
        width: 60px;
        text-align: left;
    }

    &__title {
        font-family: 'PT-Root-UI_Regular';
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
    }

    &__userList {
        margin-top: 25px;
        height: 180px;
        overflow-x: auto;

        &::-webkit-scrollbar-thumb {
            background-color: #8B97AE;
            border-radius: 15px;
        }

        &::-webkit-scrollbar {
            width: 1px;
            height: 13.69px;
        }

        &::-webkit-scrollbar-track {
            background-color: #192233;
            border-radius: 15px;
        }
    }

    &__userItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    &__userAvatar {
        width: 35px;
        height: 35px;
        opacity: 0.5;
        border: 1px solid #DCE0F4;
        border-radius: 50%;
        margin-right: 8px;
    }

    &__userAvatar.active {
        opacity: 1;
    }

    &__userName {
        font-weight: 400;
        font-family: 'PT-Root-UI_Regular';
        font-size: 13px;
        line-height: 16px;
        color: #fff;
    }
}