.container {
    display: flex;
    max-width: 1463px;
    margin: 0 auto;
    padding-right: 14px;
    background-color: #192233;

    @media (max-width: 1150px) {
        padding-left: 14px;
    }
}